// Al llamarlo en el template por atribute binding hay que hacerlo entre "'border-btn'"
.border-btn{
    border: 1px solid black;
}

// .divImage{
//     display: flex;
//     flex-direction: column;
// }

.miform{
    display: flex;
    flex-direction: column;
    width: 350px;
}